<div class="cropper">
    <img class="cropper__image" alt="Image to crop"/>
    <table class="cropper__grid cropper-grid">
        <tr class="cropper-grid__row">
            <td class="cropper-grid__cell">
            </td>
            <td class="cropper-grid__cell">
            </td>
            <td class="cropper-grid__cell">
            </td>
        </tr>
        <tr class="cropper-grid__row">
            <td class="cropper-grid__cell">
            </td>
            <td class="cropper-grid__cell">
            </td>
            <td class="cropper-grid__cell">
            </td>
        </tr>
        <tr class="cropper-grid__row">
            <td class="cropper-grid__cell">
            </td>
            <td class="cropper-grid__cell">
            </td>
            <td class="cropper-grid__cell">
            </td>
        </tr>
    </table>
</div>